@page
@model AppCoroUPB.Pages.Integrantes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Integrante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Integrante.idInt" />
            <div class="form-group">
                <label asp-for="Integrante.NombreCompleto" class="control-label"></label>
                <input asp-for="Integrante.NombreCompleto" class="form-control" />
                <span asp-validation-for="Integrante.NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integrante.idVinculo" class="control-label"></label>
                <input asp-for="Integrante.idVinculo" class="form-control" />
                <span asp-validation-for="Integrante.idVinculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integrante.idCarrera" class="control-label"></label>
                <input asp-for="Integrante.idCarrera" class="form-control" />
                <span asp-validation-for="Integrante.idCarrera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integrante.FechaIngreso" class="control-label"></label>
                <input asp-for="Integrante.FechaIngreso" class="form-control" />
                <span asp-validation-for="Integrante.FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integrante.IdVoz" class="control-label"></label>
                <input asp-for="Integrante.IdVoz" class="form-control" />
                <span asp-validation-for="Integrante.IdVoz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integrante.IdEstado" class="control-label"></label>
                <input asp-for="Integrante.IdEstado" class="form-control" />
                <span asp-validation-for="Integrante.IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
